# ignore everything in .gitignore
notebooks/eda/.ipynb_checkpoints/
data/*.csv
conf/local/**
.idea/
src/__pycache__
src/pipeline/__pycache__
src/utils/__pycache__
.ipynb_checkpoints
src/__init__.py
checkpoints/
data/luigi/*.pkl
